<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Predicting the type of crime in Toronto</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        The year the crime was reported:
        <input name="reportedyear" type="number" step=".01" required>
        <br>
        <br> The day the crime was reported:
        <input name="reportedday" type="number" step=".01" required>
        <br>
        <br> The day of year the crime was reported:
        <input name="reporteddayofyear" type="number" step=".01" required>
        <br>
        <br> The hour the crime was reported:
        <input name="reportedhour" type="number" step=".01" required>
        <br>
        <br> Same day  reported? (1/0):
        <input name="same_day_reported" type="number" step=".01" required>
        <br> Same month  reported? (1/0):
        <input name="same_month_reported" type="number" step=".01" required>
        <br> Same year  reported? (1/0):
        <input name="same_year_reported" type="number" step=".01" required>
        <br> Same Day of Week  reported? (1/0):
        <input name="same_dow_reported" type="number" step=".01" required>
        <br> Same hour  reported? (1/0):
        <input name="same_hour_reported" type="number" step=".01" required>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict!</button>
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
     {% for variable, value in original_input.items() %}
      <b>{{ variable }}</b> : {{ value }}
     {% endfor %}
  <br>
     <br> Predicted Crime:
     <p style="font-size:50px" step=".01">{{ result }}</p>
    {% endif %}
</div>
</html>
